<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
</head>
<body>
<!--/*@thymesVar id="userController" type="sk.tuke.gamestudio.server.controller.UserController"*/-->

<div th:replace="fragments::header"/>


<span th:if="not ${@userController.logged}">
    <br>
    <h3>Login</h3>
        <form action="/login" method="post">
           <h3> Login: <input type="text" name="login"/><br/></h3>
           <h3> Password: <input type="password" name="password"/><br/></h3>
            <input type="submit"/>
        </form>
    </span>
<span th:if="not ${@userController.logged}">
    <br>
    <h3>Register</h3>
    <form action="/register" method="post">
            <h3>New login: <input type="text" name="login"/><br/></h3>
           <h3>New password: <input type="password" name="password"/><br/></h3>
            <input type="submit"/>
        </form>
</span>

<span th:if="not ${@userController.logged}">
<div th:replace="fragments::footer"/>
</span>

</body>
</html>
